
a {
  text-decoration: none;
  color: inherit;
}
body, html {
  font-family: 'EB Garamond','IBM Plex Sans KR', sans-serif;
  background-color: #192b4f;
  width: 100%; height: 100%;
}

#header {
  position: fixed; z-index: 99;
  width: 100%; height: 100px; 
}
#header-wrap {
  width: 1200px; margin: 0 auto;
}
#header-wrap::after { content: ""; display: block; clear: both;}

#logo {
  width: 400px; float: left; 
}
#logo > a {
  display: block; text-align: center;
}
#logo > a > img {
  margin: 30px auto; width: 60%;
}
#nav {
  padding: 25px;
  width: 600px; float: right; 
}
#nav > li {
  
  width: 25%; height: 50px; line-height: 50px;
  float: left;
  color: white;
  font-weight: 600; font-size: 25px;
}
#nav > li > a {
  display: block; text-align: center; 
  position: relative;
}
#nav > li > a:hover {
  opacity: 0.7;
  transition-duration: 400ms;
}
#nav > li > a::after { 
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 50%; transform: translateX(-50%);
  width: 0; height: 3px;
  background-color: white;
  transition-duration: 300ms;
}
#nav > li > a:hover::after {
  width: 50%;
}
#main {
  width: 100%; height: 100%;
}
#main-works {
  height: 100%;
  padding-top: 100px;
}

#content-wrap {
  margin: 0 auto;
  width: 1200px; 
  height: 100%;
  padding: 5%;
}
#sidemenu {
  width: 300px;
  height: 250px;
  color: rgb(255, 255, 255 , 0.5);
  font-size: 30px;
  padding: 50px;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
}
.selected {
  color: rgb(255, 255, 255 , 1);
}
#sidemenu::before {
  width: 4px; height: 150px; position: absolute;
  content: ""; background-color: white; display: block; clear: both;
}
#sidemenu > ul > li {
  width: 200px; height: 50px; 
}
.btn {
  line-height: 50px; padding: 0 30px;
}
.btn:hover, .btn:focus {
  color: #fff;
}




/* ------------ content start! ------------*/
#web, #design { 
  height: 850px;
  position: relative;
}
.con {
  width: 400px; height: 400px;
  position: absolute;
  overflow: hidden;
}

.thumb {
  position: absolute;
  top: 0; left: 0;
  box-sizing: border-box;
}

.thumb > img {
  width: 100%; 
}

.caption {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top:0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 500;
}
.thumb:hover > .caption {
  visibility: visible;
  opacity: 1;
  transition-duration: 500ms;
  line-height: 1.3;
}

.caption > h3 {
  font-size: 22px; 
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
  margin-top: 25%;
}
.caption > ul {
  padding: 10%;
}
.caption > ul > li {
  letter-spacing: 1px;
  line-height: 1.5;
}
.caption > ul > li:last-child {
  margin-top: 10%;
}
.caption > button {
  border: 1px solid white;
  margin-top: 30px;
  padding: 7px 15px;
  border-radius: 15px;
  background-color: #192b4f;
  color: white;
  display: block;
  margin: 0 auto;
}
.caption > button:hover {
  background-color: white; color: #192b4f;
}

/* - - ------------------ .w1 부터 .w7 */
/* 개별 박스 
 * 전체 박스 .con의 position: relative
 * 태그 다음 그 자리를 기준으로, 원래 위치에서부터 위치 조정 */
.w1 { 
  left: 450px;
}
.w2 {
  top: 400px;
  left: 100px;
}
.w3 {
  top: 450px; left: 800px; 
}
.w3 h3 > span {
  font-size: 0.8em;
}
.w4 {
  left: 400px;
}
.w5 {
  top: 200px;
  left: 800px;
}
.w6 {
  top: 450px;
  left: 50px;
}
.w7 {
  top: 700px; left: 450px;
}





/* ------ popup ------ */
#modal {
  position: fixed;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; 
  cursor: pointer;
}
#designImage {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}
#designImage > img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
