a {
  text-decoration: none;
  color: inherit;
}
#header-wrap {
  width: 1200px; height: 100px;
  margin: 0 auto;
}
#menu {
  width: 50%;
  float: left;
}
#logo {
  width: 30%;
  float: left;
  margin: 25px 0;
}
#logo > a {
  display: block;
}
#logo > a > img {
  width: 90%;
  padding: 6px 0;
  display: block;
}
#nav {
  width: 70%;
  height: 50px;
  float: left;
  margin: 25px 0;
}
#nav > li { 
  display: inline-block;
  margin: 0 2.7%;
}
#nav > li > a {
  display: block;
  font-weight: 600;
  padding: 0 15px;
  line-height: 50px;
}
#header-wrap::after {content: ""; display: block; clear: both;}

#pictogram {
  width: 40%;
  float: right;
}
#pictogram::after {
  content: ""; display: block; clear: both;
}
#search {
  width: 40%;
  margin: 25px 5% 25px 0;
  float: left;
  box-sizing: border-box;
}
#search > form {
  display: block;
  position: relative;
}
#search-input {
  width: 100%; height: 50px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 20px;
  border: 1px solid rgba(0,0,0,0.5);
}
#search button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12.5px;
}
#search-icon {
  width: 50px;
  height: 25px;
  margin-top: 12.5px 0;
  box-sizing: border-box;
  z-index: 99; 
  top: 0; right: 0;
  display: block;
}

#icons {
  width: 55%; 
  height: 50px;
  float: left;
  margin: 25px 0;
  box-sizing: border-box;
}
#icons > li {
  width: 25%;
  height: 50px;
  float: left;
}
#icons > li:hover > a > svg path,
#icons > li:hover > a > svg circle,
#icons > li:hover > a > svg line,
#icons > li:hover > a > svg rect {
  stroke: #d31334;
}
#icons > li > a {
  display: block;
  padding: 12.5px 0;
}
#icons > li > a > svg {
  display: block;
  width: 50px; height: 25px;
}



/* main content */
.wrap-1200 {
  width: 1200px;
  margin: 0 auto;
}
.wrap-1200::after {
  content: ""; display: block; clear: both;
}
/*product img area */
#pdImg {
  width: 70%;
  float: left;
}
#pdImg::after {
  content: ""; display: block; clear: both;
}
.pdbottom1 {
  width: 49%;
  margin: 0 1% 1% 0;
  float: left;
}
.pdbottom1 > img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto; /* 스크롤 허용 */
  background-color: rgba(255,255,255,1);
}
.modal-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  animation-name: zoom;
  animation-duration: 400ms;
  cursor: pointer;
}
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.close {
  position: absolute;
  top: 15px; right: 35px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  transition: 300ms;
  cursor: pointer;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* product txt area */
#pdTxt.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 30%;
}
#pdTxt {
  width: 30%;
  float: right;
}
.txt {
  margin-bottom: 5%;
}
.title {
  line-height: 1.5;
}
.title > h1 {
  font-size: 25px;
  font-weight: 700;
}
.title > span {
  color: #2c282e;
  opacity: 0.5;
  font-size: 0.8em;
}
.title > p {
  font-size: 25px;
  font-weight: 700;
}
.selection p {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
#colortxt, #colorbuttons, #sizetxt, #sizebuttons {
  line-height: 2;
}
#colortxt > span {
  font-weight: 500;
  margin-left: 10px;
}
#colorbuttons > button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url('../images/info/color1.jpg');
  cursor: pointer;
}

#sizebuttons > ul::after {
  content: ""; display: block; clear: both;
}
#sizebuttons > ul > li {
  float: left;
}
#sizebuttons button {
  border: 1px solid #e0e0e0;
  background-color: white;
  width: 40px; height: 40px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  line-height: 2;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
#sizebuttons button:hover {
  background-color: #d31334;
  color: white;
  border-color: #d31334;
  transition: all 0.2s ease;
}

#addbuttons::after {
  content: ""; display: block; clear: both;
}
.addbutton {
  float: right;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #2c282e;
  padding: 10px 0;
  line-height: 2;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 4%;
  cursor: pointer;
}

.addbutton > img {
  width: 7%;
  margin-right: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.addbutton > span {
  vertical-align: middle;
}
.addbutton:first-child {
  background-color: #d31334;
  border: 1px solid #d31334;
  color: white;
  border: none;
}
.info {
  padding: 10px 5px;
}
#wemade::after {
  content: ""; display: block; clear: both;
}
#wemade {
  margin-bottom: 5%;
}
#wemade > p {
  width: 40%;
  float: left;
  font-size: 25px;
  font-weight: 900;
  padding: 0 10px;
  box-sizing: border-box;
}
#wemade > span {
  width: 60%;
  padding: 6% 0;
  box-sizing: border-box;
  font-size: 14px;
}
.toggle-bottom {
  padding: 15px;
  border-bottom: 2px solid #2c282e;
}
.toggle-bottom:not(:first-child)::after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 0.8em;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-top: 14px;
}
.active:not(:first-child), .toggle-bottom:not(:first-child):hover {
  background-color: #f5f5f7;
}
.active:not(:first-child)::after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.infoicon {
  width: 10%; height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.infoicon > svg {
  padding-top: 5px;
}
.info-title {
  margin-left: 3%;
  padding: 10px 0;
  font-weight: 600;
  vertical-align: middle;
  font-size: 14px;
}
.accordion-info {
  font-size: 14px;
  overflow: hidden;
  padding: 1% 5%;
  line-height: 2;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.accordion-info > h6 {
  font-weight: 900;
}
.accordion-info > p > img {
  width: 15px;
  margin-right: 2%;
}
.accordion-info > p > span {
  color: #e30613;
  font-weight: 700;
}



/* recommend section */
#recommend h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  margin-bottom: 5%;
}
#recommend > .wrap-1200 {
  padding: 10% 0;
}
#wrap-recommend::after{
  content: ""; display: block; clear: both;
}
.recommendbutton {
  width: 15%;
  float: left;
}
.recommendbutton > button {
  margin: 232px 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.arrow {
  width: 10%;
}

/* recommend renew */
#recommend-images {
  width: 70%;
  float: left;
  overflow: hidden;
}
#rcmd-slide {
  width: 300%;
}
#rcmd-slide::after {
  content: ""; display: block; clear: both;
}
#rcmd1, #rcmd2, #rcmd3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  position: relative;
}
#rcmd1::after, #rcme2::after, #rcmd3::after {
  content: ""; display: block; clear: both;
}
.img50 {
  width: 50%;
  float: left;
}

.img25 {
  width: 49%;
  margin-top: 0.5%;
  display: inline-block;
  overflow: hidden;
}
.img25 > a, .img50 > li > a {
  display: block;
}
.img25 > a > img, .img50 > li > a > img {
  width: 100%;
  display: block;
}


/* review */
#review {
  margin: 10% 0;
}
#reviewstars {
  width: 15%;
  margin: 0 auto;
}
#reviewstars > ul::after {
  content: ""; display: block; clear: both;
}
.starbox {
  float: left;
  width: 17.6%;
  box-sizing: border-box;
  cursor: pointer;
}
.starbox:hover > svg > polygon{
  fill:#e30613;
}
.starbox:not(:last-child) {
  margin-right: 3%;
}
.starbox > svg {
  display: block;
}
/* subscribe */
#subscribe {
  padding: 7% 0 10% 0;
}
#subscribeTxt {
  padding: 2% 0;
  background-color: #f5f5f7;
  text-align: center;
  line-height: 2;

}
#subscribeTxt > h2 {
  font-size: 35px;
  font-weight: bold;
}
#subscribeTxt > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1%;
}
#form-wrap {
  width: 35%;
  margin: 0 auto;
}
#agreeform {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.checkbox:not(:first-child) {
  margin-left: 2%;
}
#email-wrap {
  box-sizing: border-box;
  padding: 20px;
}
#email {
  width: 55%;
  font-size: 16px;
  border-radius: 5px;
  padding: 3% 4%;
  border: 1px solid rgba(0,0,0,0.5);
  margin-right: 3%;
}
#subbutton {
  width: 30%;
  background-color: #2c282e;
  border-radius: 5px; border-style: none; 
  border-width: 0px; color: rgb(255, 255, 255); 
  font-size: 16px; font-weight: 600; line-height: 1.2; white-space: normal; 
  padding: 3%; text-align: center; word-break: break-word; cursor: pointer; 
}
#subbutton:hover {
  background-color: black;
  transition: all 0.1s;
}




/* footer */
#ft-wrap {
  width: 1200px;
  padding: 3%;
  margin: 0 auto;
}
#ftmenu::after {
  content: ""; display: block; clear: both;
}
.ftTxt {
  width: 20%;
  float: left;
  box-sizing: border-box;
}
.ftTxt > h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 3;
}
.ftTxt > ul > li {
  font-size: 12px;
  line-height: 2;
}
.sns::after {
  content: ""; display: block; clear: both;
}
.sns {
  margin-left: -2%;
}
.sns > li {
  width: 15%;
  float: left;
  text-align: center;
  margin-right: 3%;
} 
#kakaotalk {
  width: 70%;
}
#facebook {
  width: 40%;
}
#instargram {
  width: 60%;
}
#copyright {
  margin-top: 5%;
  border-top: 1px solid rgba(44, 40, 46, 0.3);
  padding-top: 2%;
}
#copyright > span {
  width: 40%;
  font-size: 14px;
  opacity: 0.5;
}
#copyright::after {
  content: ""; display: block; clear: both;
}
#ftlegal {
  width: 25%;
  float: right;
}
#ftlegal > li {
  float: left;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}
#ftlegal > li:not(:last-child) {
  margin-right: 12%;
}